<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>学习情况</title>
		<link rel="stylesheet" href="public/css/public.css" />
	</head>
	<body>
		
		<div class="weChat_box">
			<div class="today-header">
				<div class="header-content">
					<ul class="chooseDay">
						<li class="today select" data-type="today" data-name = "日" data-select="今日">今日</li>
						<li class="week" data-type="week" data-name = "周" data-select="本周">周</li>
						<li class="month" data-type="month" data-name = "月" data-select="本月">月</li>
					</ul>
					
					<span class="score">79</span>
					
					<div class="level">
						<span>优</span>
					</div>
				</div>
			</div>
			<div class="today-content">
				<ul class="fix">
					<li class="fix">
						<div class="content-icon">
							<img src="public/images/book.png" />
						</div>
						<div class="content-info">
							<h3>BOOK:</h3>
							<p>小学一年级上册（A）</p>
						</div>
					</li>
					<li class="fix">
						<div class="content-icon">
							<img src="public/images/section.png" />
						</div>
						<div class="content-info">
							<h3>SECTION:</h3>
							<p></p>
						</div>
					</li>
					<li class="fix">
						<div class="content-icon">
							<img src="public/images/avg.png" />
						</div>
						<div class="content-info">
							<h3>AVG:</h3>
							<p></p>
						</div>
					</li>
				</ul>
				
				<p class="tips">您的孩子学习情况很好哦，多为他加油，您的加油会让他更有力量哦</p>
			</div>
			
			<!-- 周 -->
			<div class="week-content">
				
			</div>
			
			<!-- 月 -->
			<div class="month-content">
				
			</div>
		
		</div>
		
		<script type="text/javascript" src="public/js/common/jquery-1.7.2.min.js" ></script>
		<script type="text/javascript" src="public/js/common/public.js" ></script>
		<script type="text/javascript" src="public/js/today.js" ></script>
	</body>
</html>
